<app-header></app-header>

<ion-content>
  <div class="page">
    <div class="profile-header">
      <div class="profile-header-top">
        <img class="profile-header-image" src="https://picsum.photos/id/473/300/300" />
      </div>

      <div class="profile-header-intro">
        <h1 class="profile-header-title">John Smith, 39</h1>
        <h3 class="profile-header-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
      </div>
    </div>

    <div class="profile-socials">
        <div class="profile-socials-item">
          <a href="http://github.com/johnsmith"><ion-icon name="logo-github" color="secondary"></ion-icon></a>
        </div>
        <div class="profile-socials-item">
          <a href="http://codepen.io/johnsmith"><ion-icon name="logo-codepen" color="secondary"></ion-icon></a>
        </div>
        <div class="profile-socials-item">
          <a href="http://twitter.com/johnsmith"><ion-icon name="logo-twitter" color="secondary"></ion-icon></a>
        </div>
    </div>

    <div class="profile-content">
      <ion-row>
        <ion-col size-xs="12" size-md="6">
          <div class="profile-content-item">
            <span class="item-label">Location:</span>
            <span class="item-value">Ipswich, United Kingdom</span>
          </div>

          <div class="profile-content-item">
            <span class="item-label">Current Employment:</span>
            <span class="item-value">John Smith Limited <small>(since 2008)</small></span>
          </div>

          <div class="profile-content-item">
            <span class="item-label">Commercial Experience (years):</span>
            <span class="item-value">10</span>
          </div>

          <div class="profile-content-item">
            <span class="item-label">Notice Period:</span>
            <span class="item-value">1 month</span>
          </div>
        </ion-col>

        <ion-col size-xs="12" size-md="6">
            
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>
