/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

html, body {
    font-family: 'Roboto', sans-serif;
}

/* ion-header */
ion-header {
    &.header-xs,
    &.header-sm,
    &.header-md,
    &.header-lg,
    &.header-xl {
        &:after {
            background-color: var(--ion-color-light-medium);
            background-image: none;
            bottom: -1px;
            height: 1px;
            left: 40px;
            right: 40px;
            width: auto;
        }
    }

    ion-title {
        font-size: 0.95em;
        text-transform: uppercase;
    }
}

/* ion-content */
ion-content {
    .page {
        display: flex;
	    flex-direction: column;
        height: 100%;
        padding: 60px var(--ion-page-padding) 0 !important;
    }
}

/* breakpoints */
@media (min-width: 540px) {
    ion-header {
        &.header-xs,
        &.header-sm,
        &.header-md,
        &.header-lg,
        &.header-xl {
            ion-title {
                padding-left: 40px;
            }
        }
    }
}