<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      My profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="page">
  <div class="profile-header">
    <img src="https://picsum.photos/id/473/300/300" />

    <div class="profile-header-actions">
      <div class="follow">
        <ion-icon name="add"></ion-icon>
      </div>
      <div class="notifications">
        <ion-icon name="alarm"></ion-icon>
      </div>
    </div>

    <div class="profile-header-intro">
      <h1>John Smith</h1>
      <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
    </div>
  </div>
</ion-content>
